# Python
__pycache__/
*.py[cod]
*.pyo

# Data
data/
Delphi/data/

# Model checkpoints and outputs
Delphi/out_*/
Delphi/dryrun_*/
Delphi/results/
*.pth
*.ckpt
models/
output/
outputs/
predictions/

# Environments
delphi-env/
.env
.env.*

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# OCmmon data formats
*.ipynb
*.csv
*.tsv
*.rds


# Logs, caches, and temporary files
*.log
*.tmp
*.temp
*.bak